<% @blogs.each do |blog| %>
  <%= link_to "#{blog.title}", blog_path(blog.id) %>
  <%= attachment_image_tag blog.user, :image, size: "42x28", format: 'png', fallback: "no_image.jpg" %>
  <%= link_to user_path(blog.user_id) do %>
    <%= blog.user.name %>
  <% end %>
  <p><%= blog.comments.count %>コメント</p>
  <p><%= blog.created_at %></p>
<% end %>