<div class="container">
    <%= form_with model:@blog_new, url:blogs_path, local:true do |f| %>
        <div class="row">
            <div class="col-lg-10 mt-3">
                <div class="field">
                    <%= f.label :title %></br><%= f.submit '投稿',  class:"float-right" %>
                    <%= f.text_field :title %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">      
                <div class="field">
                    <%= f.label :content %><br/>
                    <%= f.text_area :content, size: "130x20" %>
                </div>
            </div>
        </div>
    <% end %>
</div>