<div class="container">
    <div class="row mt-5">
        <div class="offset-md-2"></div>
        <div class="border pt-3 rounded col-lg-8 round text-center">
            <%= form_with model:@blog_new, url:blogs_path, local:true do |f| %>
                <p><%= f.label :title %></p>
                <div class="field">
                    <%= f.text_field :title %>    <%= f.submit '保存' %>
                </div>
                <p><%= f.label :content %></p>
                <div class="field">
                    <%= f.text_area :content, size: "60x20" %>
                </div>
            <% end %>
        </div>
    </div>
</div>