<div class="container">
  <div class="row">
    <h3>ブログ</h3>
    <%= form_with url: search_blogs_path, method: :get, local: true do |f| %>
      <%= f.text_field :title %>
      <%= f.submit :search %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table class="table table-sm table-dark text-center table-striped table-hover mt-3 mb-3">
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>投稿者</th>
            <th>コメント数</th>
            <th>作成日</th>
          </tr>
        </thead>
        <% @blogs_search.each do |blog| %>
          <tbody>
            <tr>
              <td><%= attachment_image_tag blog.user, :image, size: "42x28", format: 'png', fallback: "no_image.jpg", class: "rounded-circle" %></td>
              <td><%= link_to "#{blog.title}", blog_path(blog.id) %></td>
              <td>
                <%= link_to user_path(blog.user_id) do %>
                  <%= blog.user.name %>
                <% end %>
              </td>
              <td><%= blog.comments.count %>コメント</td>
              <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <%= paginate @blogs %>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>