<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= link_to "ホーム",root_path %>/一覧
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-lg-9">
      <div>
        <%= form_with url: search_blogs_path, method: :get, local: true do |f| %>
          <%= f.text_field :title %>
          <%= f.submit :search %>
        <% end %>
      </div>
      <div>
        <% @blogs_search.each do |blog| %>
          <div class="border pt-3 rounded round　text-center">
            <content>
              <h5><%= link_to "#{blog.title}", blog_path(blog.id) %></h5>
              <p><%= blog.content.truncate(30) %></p>
              <p><%= blog.comments.count %>コメント</p>
              <p>
                <%= attachment_image_tag blog.user, :image, size: "42x28", format: 'png', fallback: "no_image.jpg", class: "rounded-circle" %>
                <%= link_to user_path(blog.user_id) do %>
                  <%= blog.user.name %>
                <% end %>
              </p>
            </content>
          </div>
        <% end %>
      </div>
      <%= paginate @blogs %>
    </div>
    <div class="col-lg-3">
      <h3>最新の投稿</h3>
      <% @blogs.each do |blog| %>
        <div class="border pt-3 rounded round　text-center">
          <content>
            <h5><%= link_to "#{blog.title}", blog_path(blog.id) %></h5>
            <p><%= blog.content.truncate(30) %></p>
            <p><%= blog.comments.count %>コメント</p>
            <p>
              <%= attachment_image_tag blog.user, :image, size: "42x28", format: 'png', fallback: "no_image.jpg", class: "rounded-circle" %>
              <%= link_to user_path(blog.user_id) do %>
                <%= blog.user.name %>
              <% end %>
            </p>
          </content>
        </div>
      <% end %>
    </div>
  </div>
</div>