<div class="container">
  <div class="row mt-5">
    <div class="offset-md-1"></div>
    <div class="pt-3col-lg-7">
      <% if @blog.user == current_user %>
        <%= link_to "編集", edit_blog_path(@blog), class: "btn btn-secondary btn-sm" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-1"></div>
    <div class="col-lg-7">
      <div class="border pt-3 rounded text-center">
        <p><%= @blog.title %></p>
        <a><%= @blog.created_at.strftime('%Y/%m/%d') %></a>
      </div>
      <div class="border pt-3 rounded text-center">
        <p><%= @blog.content %></p>
      </div>
      <div class="border pt-3 rounded text-center">
        <p>ユーザーネーム：<%= @blog.user.name %></p>
        <p>投稿日時：<%= @blog.created_at.strftime('%Y/%m/%d') %></p>
        <% if user_signed_in? %>
          <div>
            <% if @blog.favorited_by?(current_user) %>
              <p>
                <%= link_to blog_favorites_path(@blog), method: :delete do %>
                  ♥<%= @blog.favorites.count %> いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to blog_favorites_path(@blog), method: :post do %>
                  ♡<%= @blog.favorites.count %> いいね
                <% end %>
              </p>
            <% end %>
          </div>
        <% else %>
          <div>
            ♥<%= @blog.favorites.count %> いいね
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="comments  border pt-3 rounded text-center">
        <p>コメント件数：<%= @blog.comments.count %></p>
        <% @blog.comments.each do |comment| %>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %></br>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <div class="new-comment border pt-3 rounded text-center">
            <%= form_with(model:[@blog, @comment], local: true) do |f| %>
              <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
              <%= f.submit "送信する", class: "btn btn-secondary btn-sm" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>