<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3">
      <h5>メニュー</h5>
      <h6>収支</h6>
      <li><%= link_to "収支一覧", balances_path %></li>
      <li><%= link_to "支出",expense_path %></li>
      <li><%= link_to "収入",income_path %></li>
      <h6>ブログ</h6>
      <li><%= link_to "ブログ一覧", search_blogs_path %></li>
      <li><%= link_to "ブログ新規投稿", new_blog_path %></li>
      <h6>データ</h6>
      <li><%= link_to "年間収支", yearbalance_path %></li>
      <li><%= link_to "年間項目割合", yeargenre_path %></li>
      <li><%= link_to "貯蓄推移", totalsaving_path %></li>
      <h6>設定</h6>
      <li><%= link_to "予算", new_budget_path %></li>
      <li><%= link_to "マイページ", mypage_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
      <% else %>
      <% end %>
    </div>
    <div class="col-lg-9">
      <p>タイトル：<%= @blog.title %></p>
      <p>投稿日時：<%= @blog.created_at.strftime('%Y/%m/%d') %></p>
      <p>コンテンツ：<%= @blog.content %></p>
      <p>ユーザーネーム：<%= @blog.user.name %></p>
      <p>投稿日時：<%= @blog.created_at.strftime('%Y/%m/%d') %></p>
      <% if @blog.user == current_user %>
        <%= link_to "削除", blog_path(@blog), method: :delete %>
        <%= link_to "編集", edit_blog_path(@blog) %>
      <% end %>
      <% if user_signed_in? %>
        <div class="comments">
          <p>コメント件数：<%= @blog.comments.count %></p>
          <% @blog.comments.each do |comment| %>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %></br>
          <% end %>
        </div>
        <div class="new-comment">
          <%= form_with(model:[@blog, @comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
        <div>
          <% if @blog.favorited_by?(current_user) %>
            <p>
              <%= link_to blog_favorites_path(@blog), method: :delete do %>
                ♥<%= @blog.favorites.count %> いいね
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to blog_favorites_path(@blog), method: :post do %>
                ♡<%= @blog.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
        </div>
      <% else %>
        <div class="comments">
          <p>コメント件数：<%= @blog.comments.count %></p>
          <% @blog.comments.each do |comment| %>
            <%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <% end %>
        </div>
        <div>
          ♥<%= @blog.favorites.count %> いいね
        </div>
      <% end %>
    </div>
  </div>
</div>