<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h2 class="text-center">新規登録</h2>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field" class="form-group">
          <%= f.label :image, "ユーザアイコン", class: "control-label" %>:
          <%= f.attachment_field :image %>
        </div>
        <div class="field">
          <%= f.label :name, "ユーザーネーム", class: "control-label" %>
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :email, "メールアドレス", class: "control-label" %>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :password, "パスワード", class: "control-label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上):</em>
          <% end %>
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "パスワード(確認)", class: "control-label" %>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

  
  
  

  

  

  

  



