<div class="container">
  <div class="row">
    <div class="offset-md-2"></div>
    <div class="col-8 border rounded p-3 m-3">
      <h2 class="text-center">ユーザー情報編集</h2>
      <%= form_with model: @user, url:user_path(current_user), method: :patch, local:true do |f| %>
        <div class="field" class="form-group">
          <%= attachment_image_tag @user, :image, size: "100x100", class: "rounded-circle" %>
          <%= f.label :image, "ユーザアイコン", class: "control-label" %>:
          <%= f.attachment_field :image %>
        </div>
        <div class="field">
          <%= f.label :name, "ユーザーネーム", class: "control-label" %>
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :email, "メールアドレス", class: "control-label" %>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :sex, "性別" %>
          <%= f.select :sex, User.sexes.keys, {include_blank: true} %>
        </div>
        <div class="field">
          <%= f.label :age, "年齢層" %>
          <%= f.select :age, User.ages.keys, {include_blank: true} %>
        </div>
        <div class="field">
          <%= f.label :region, "都道府県" %>
          <%= f.select :region, User.regions.keys, {include_blank: true} %>
        </div>
        <div class="field">
          <%= f.label :introduction, "自己紹介", class: "control-label" %>
          <%= f.text_field :introduction, class: "form-control", autofocus: true %>
        </div>
        <div class="actions">
          <%= f.submit "保存", class: "btn btn-secondary btn-sm"  %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>