<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <table class="text-center table table-bordered mt-3 mb-3">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= attachment_image_tag @user, :image, size: "42x28", class: "rounded-circle" %></td>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
            <td><%= link_to "編集する", edit_user_path(current_user), class: "btn btn-secondary btn-sm" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3"></div>
  </div>
  
  <% if Goal.exists? %>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 ">
        <table class="mx-auto">
          <tr>
            <th>目標金額</th>
            <td><%= @last_goal.goal_amount.to_s(:delimited, delimiter: ',') %>円</td>
            <td><%= link_to "目標を編集する", edit_goal_path(@last_goal), class:"btn btn-primary btn-sm" %></td>
          </tr>
          <!--<tr>-->
          <!--  <th>目標期限</th>-->
          <!--  <td><%# @last_goal.goal_limit %></td>-->
          <!--</tr>-->
          <tbody>
            <tr>
              <th>現状収支</th>
              <td><%= @savings.to_s(:delimited, delimiter: ',') %>円</td>
              <td><%= link_to "収支を登録する", balances_path, class:"btn btn-primary btn-sm" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-3"></div>
    </div>
  <% end %>
</div>