<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <table class="text-center table table-bordered mt-3 mb-3">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= attachment_image_tag @user, :image, size: "42x28", class: "rounded-circle" %></td>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
            <td><%= link_to "編集する", edit_user_path(current_user), class: "btn btn-secondary btn-sm" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3"></div>
  </div>
  
  <% if Goal.exists? %>
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 ">
        <table class="mx-auto">
          <tr>
            <th>目標金額</th>
            <td><%= @last_goal.goal_amount.to_s(:delimited, delimiter: ',') %>円</td>
            <td><%= link_to "目標を編集する", edit_goal_path(@last_goal), class:"btn btn-primary btn-sm" %></td>
          </tr>
          <!--<tr>-->
          <!--  <th>目標期限</th>-->
          <!--  <td><%# @last_goal.goal_limit %></td>-->
          <!--</tr>-->
          <tbody>
            <tr>
              <th>現状収支</th>
              <td><%= @savings.to_s(:delimited, delimiter: ',') %>円</td>
              <td><%= link_to "収支を登録する", balances_path, class:"btn btn-primary btn-sm" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-3"></div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <h3>グラフ</h3>
      <canvas id="myChart"></canvas>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
      <script>
        var ctx = document.getElementById("myChart");
        console.log(ctx);
        var myLineChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['8月1日', '8月2日', '8月3日', '8月4日', '8月5日', '8月6日', '8月7日'],
            datasets: [
              {
                label: '支出',
                data: [35, 34, 37, 35, 34, 35, 34, 25],
                borderColor: "raba(255,0,0,1)",
                backgroundColor: "rgba(0,0,0,0)"
              },
              {
                label: '収入',
                data: [25, 27, 27, 25, 26, 27, 25, 21],
                borderColor: "raba(0,0,255,1)",
                backgroundColor: "rgba(0,0,0,0)"
              }
            ],
          },
          options: {
            title: {
              display: true,
              text: '気温（8月1日~8月7日）'
            },
            scales: {
              yAxes: [{
                ticks: {
                  suggestedMax: 1000000,
                  suggestedMin: 0,
                  stepSize: 10000,
                  callback: function(value, index, values){
                  return  value +  '度'
                }
              }
            }]
          }
        }
        });
      </script>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>