<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h5>メニュー</h5>
      <h6>収支</h6>
      <li><%= link_to "収支一覧", balances_path %></li>
      <li><%= link_to "支出",expense_path %></li>
      <li><%= link_to "収入",income_path %></li>
      <h6>ブログ</h6>
      <li><%= link_to "ブログ一覧", search_blogs_path %></li>
      <li><%= link_to "ブログ新規投稿", new_blog_path %></li>
      <h6>データ</h6>
      <li><%= link_to "年間収支", yearbalance_path %></li>
      <li><%= link_to "年間項目割合", yeargenre_path %></li>
      <li><%= link_to "貯蓄推移", totalsaving_path %></li>
      <li><%= link_to "キャッシュフロー表", cashflow_path %></li>
      <h6>設定</h6>
      <li>固定費</li>
      <li><%= link_to "予算", new_budget_path %></li>
      <li><%= link_to "マイページ", mypage_path %></li>
      <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
    </div>

    <div class="col-lg-9">
      <h3>ユーザー情報</h3>
      <table class="text-center table table-bordered mt-3 mb-3">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>自己紹介</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= attachment_image_tag @user, :image, size: "42x28", class: "rounded-circle" %></td>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
            <td><%= @user.introduction %></td>
            <td><%= link_to "編集する", edit_user_path(current_user), class: "btn btn-secondary btn-sm" %></td>
          </tr>
        </tbody>
      </table>
      <h3>予算</h3>
      <table class="text-center table table-bordered mt-3 mb-3">
        <thead class="thead-dark">
          <tr>
            <th></th>
            <th>金額</th>
            <th></th>
            <th>金額</th>
          </tr>
        </thead>
        <% @budget.each do |budget| %>
          <tbody class="thead-dark">
            <tr>
              <th style="width: 20%">食費</th>
              <td style="width: 30%"><%= budget.food %></td>
              <th style="width: 20%">住居費</th>
              <td style="width: 30%"><%= budget.house %></td>
            </tr>
          </tbody>
          <tbody class="thead-dark">
            <tr>
              <th style="width: 20%">日用品</th>
              <td style="width: 30%"><%= budget.daily %></td>
              <th style="width: 20%">水道光熱費</th>
              <td style="width: 30%"><%= budget.utility %></td>
            </tr>
          </tbody>
          <tbody class="thead-dark">
            <tr>
              <th style="width: 20%">衣服</th>
              <td style="width: 30%"><%= budget.cloth %></td>
              <th style="width: 20%">趣味・娯楽</th>
              <td style="width: 30%"><%= budget.hobby %></td>
            </tr>
          </tbody>
          <tbody class="thead-dark">
            <tr>
              <th style="width: 20%">教養・教育</th>
              <td style="width: 30%"><%= budget.liberal_art %></td>
              <th style="width: 20%">通信費</th>
              <td style="width: 30%"><%= budget.communicate %></td>
            </tr>
          </tbody>
          <tbody class="thead-dark">
            <tr>
              <th style="width: 20%">健康・医療</th>
              <td style="width: 30%"><%= budget.medical %></td>
              <th style="width: 20%">その他</th>
              <td style="width: 30%"><%= budget.other %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
      <h3>固定</h3>
    </div>
  </div>