<div class="container">
  <div class="row">
    <div class="offset-md-1"></div>
    <div class="col-lg-3">
      <div class="border rounded m-3 p-3">
        <h5 class="border-bottom">今月の収支</h3>
        <table class="text-center table table-sm">
          <tr>
            <td class="text-left fs-15">収入</td>
            <td class="text-right fs-15"><%= @income_sum.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
          <tr>
            <td class="text-left fs-15">支出</td>
            <td class="text-right fs-15"><%= @expense_sum.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
          <tr>
            <td class="text-left fs-15">収支</td>
            <td class="text-right fs-15"><%= @balance_sum.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
        </table>
        <div class="field">
          <%= form_with model: @user, url:user_path(current_user), method: :patch, local:true do |f| %>
            <div class="done">
              <%= f.label :release, '収支公開' %>
              <div>
                <%= f.radio_button :release, true %>
                <%= f.label :release, '公開する', value: true %>
              </div>
              <div>
                <%= f.radio_button :release, false %>
                <%= f.label :release, '公開しない', value: false %>
              </div>
              <div>
                <%= f.submit '変更する', class: "btn btn-secondary btn-sm"  %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="border rounded m-3 p-3">
        <h5 class="border-bottom">ユーザー情報</h3>
        <div><%= link_to "編集する", edit_user_path(current_user), class: "btn btn-secondary btn-sm" %></div>
        <%= attachment_image_tag @user, :image, size: "100x100", class: "rounded-circle" %>
        <table>
          <tr>
            <th>ユーザーネーム</th>
            <td><%= @user.name %></td>
            <th>メールアドレス</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>性別</th>
            <td><%= @user.sex %></td>
            <th>年齢層</th>
            <td><%= @user.age %></td>
          </tr>
          <tr>
            <th>都道府県</th>
            <td><%= @user.region %></td>
          </tr>
        </table>
        <%= @user.introduction %>
      </div>
      <div class="border rounded m-3 p-3">
        <h5 class="border-bottom">自身の投稿</h3>
        <table>
          <tr>
            <th>タイトル</th>
            <th>本文</th>
            <th>作成日</th>
            <th>いいね数</th>
            <th>コメント数</th>
          </tr>
          <% @user.blogs.each do |blog| %>
          <tr>
            <td><%= link_to "#{blog.title}", blog_path(blog.id) %></td>
            <td><%= blog.content.truncate(20) %></td>
            <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
            <td>♥<%= blog.favorites.count %> いいね</td>
            <td><%= blog.comments.count %>コメント</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>