<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table>
        <tr>
          <th></th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th></th>
        </tr>
        <tr>
          <td><%= attachment_image_tag @user, :image, size: "42x28" %></td>
          <td><%= @user.name %></td>
          <td><%= @user.email %></td>
          <td><%= link_to "編集する", edit_user_path(current_user), class: "btn btn-secondary" %></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table>
        <tr>
          <th>目標金額</th>
          <td><%= current_user.goal %></td>
        </tr>
        <tr>
          <th>目標期限</th>
          <td><%= current_user.goal_limit %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "編集する", users_goal_edit_path, class:"btn btn-primary" %></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <%= link_to "収支を登録する", user_balances_path(current_user), class:"btn btn-primary" %>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>