<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="border mt-3 p-3 rounded">
        <%= attachment_image_tag @user, :image, size: "210x140", class: "rounded-circle" %>
        <h4><%= @user.name %></h4>
        <p><%= @user.sex %></p>
        <p><%= @user.age %></p>
        <p><%= @user.region %></p>
        <p><%= @user.introduction %></p>
        <div class="follower">
          <%= link_to followers_user_path(@user.id) do %>
            <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
          <% end %>
        </div>
        <div class="follow">
          <%= link_to following_user_path(@user.id) do %>
            <h5 style="color: black;">フォロー<%= @user.following.count %>人</h5>
          <% end %>
        </div>
        <div>
          <%= render "follow_form" %>
        </div>
      </div>
      <% if @user_release == true %>
        <div class="border mt-3 p-3 rounded">
          <h5 class="border-bottom">今月の収支</h3>
          <table class="text-center table table-sm">
            <tr>
              <td class="text-left fs-15">収入</td>
              <td class="text-right fs-15"><%= @income_sum.to_s(:delimited, delimiter: ',') %>円</td>
            </tr>
            <tr>
              <td class="text-left fs-15">支出</td>
              <td class="text-right fs-15"><%= @expense_sum.to_s(:delimited, delimiter: ',') %>円</td>
            </tr>
            <tr>
              <td class="text-left fs-15">収支</td>
              <td class="text-right fs-15"><%= @balance_sum.to_s(:delimited, delimiter: ',') %>円</td>
            </tr>
          </table>
        </div>
      <% else %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <div class="border mt-3 p-3 rounded mb-5">
        <h4><%= @user.name %>のブログ</h4>
        <table class="table table-sm text-center table-striped table-hover mt-3 mb-3">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>コンテンツ</th>
              <th>作成日</th>
            </tr>
          </thead>
          <% @user.blogs.each do |blog| %>
            <tbody>
              <tr>
                <td>
                  <%= link_to blog_path(blog.id) do %>
                    <%= blog.title %>
                  <% end %>
                </td>
                <td><%= blog.content.truncate(30) %></td>
                <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
      <% if @user_release == true %>
        <div class="border mt-3 p-3 rounded mb-5">
          
        </div>
      <% else %>
      <% end %>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>