<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <%= attachment_image_tag @user, :image, size: "210x140", class: "rounded-circle" %>
      <h4><%= @user.name %></h4>
      <p><%= @user.introduction %></p>
    </div>
    <div class="col-lg-1">
      <% if @user.release == "true" %>
        <h5 class="border-bottom">今月の収支</h3>
        <table class="text-center table table-sm">
          <tr>
            <td class="text-left fs-15">収入</td>
            <td class="text-right fs-15"><%= @income_sum.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
          <tr>
            <td class="text-left fs-15">支出</td>
            <td class="text-right fs-15"><%= @expense_sum.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
          <tr>
            <td class="text-left fs-15">収支</td>
            <td class="text-right fs-15"><%= @balance_sum.to_s(:delimited, delimiter: ',') %>円</td>
          </tr>
        </table>
      <% elsif  %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <h4><%= @user.name %>のブログ</h4>
      <table class="table table-sm text-center table-striped table-hover mt-3 mb-3">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>作成日</th>
          </tr>
        </thead>
        <% @user.blogs.each do |blog| %>
          <tbody>
            <tr>
              <td>
                <%= link_to blog_path(blog.id) do %>
                  <%= blog.title %>
                <% end %>
              </td>
              <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>

