    <% if @balance_new.errors.any? %>
      <%= @balance_new.errors.count %>件のエラーが発生しました
      <% @balance_new.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
  
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <%= link_to "前の月",expense_path(month:@month.prev_month) %>
    </div>
    <div class="col-lg-5">
      <%= link_to "次の月",expense_path(month:@month.next_month) %>
    </div>
    <div class="col-lg-1"></div>
  </div>
  
  <div class="row">
    <div class="col-lg-3">
      <h5>メニュー</h5>
      <h6>収支</h6>
      <li><%= link_to "収支一覧", balances_path %></li>
      <li><%= link_to "支出",expense_path %></li>
      <li><%= link_to "収入",income_path %></li>
      <h6>ブログ</h6>
      <li><%= link_to "ブログ一覧", search_blogs_path %></li>
      <li><%= link_to "ブログ新規投稿", new_blog_path %></li>
      <h6>データ</h6>
      <li><%= link_to "年間収支", yearbalance_path %></li>
      <li><%= link_to "年間項目割合", yeargenre_path %></li>
      <li><%= link_to "貯蓄推移", totalsaving_path %></li>
      <h6>設定</h6>
      <li><%= link_to "予算", new_budget_path %></li>
      <li><%= link_to "マイページ", mypage_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
      <% else %>
      <% end %>
    </div>
    <div class='col-lg-3 mt-3'>
      <%= form_with model:@balance_new, url:balances_path, local: true do |f| %>
        <table>
          <thead>
            <tr>
              <h5>支出を登録</h5>
              <%= f.hidden_field :balance, :value => 1 %>
            </tr>
          </thead>
          <tr>
            <th><%= f.label :period, "日付" %></th>
            <td><%= f.date_field :period %></td>
          </tr>
          <tbody>
            <tr>
              <th><%= f.label :amount, "金額" %></th>
              <td><%= f.number_field :amount %>円</td>
            </tr>
          </tbody>
          <tr>
            <th><%= f.label :genre, "項目" %></th>
            <td><%= f.select :genre, [['食費', 1], ['住居費', 2], ['日用品', 3], ['水道光熱費', 4], ['衣服', 5], ['趣味・娯楽', 6], ['教養・教育', 7], ['通信費', 8], ['健康・医療', 9], ['その他', 10]], { include_blank: true} %></td>
          </tr>
          <tbody>
            <tr>
              <th><%= f.label :description, "説明" %></th>
              <td><%= f.text_field :description %></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th></th>
              <td><%= f.submit '新規登録' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-lg-6 mt-3 mb-3">
      <h5 class="text-center">支出</h5>
      <table class="text-center table tbody-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th>日付</th>
            <th>項目</th>
            <th>金額</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td><%= expense.period %></td>
              <td><%= expense.genre %></td>
              <td><%= expense.amount.to_s(:delimited, delimiter: ',') %>円</td>
              <td><%= link_to "詳細", balance_path(expense), class:"btn btn-primary btn-sm" %></td>
              <td><%= link_to "削除", balance_path(expense), method: :delete, class:"btn btn-primary btn-sm" %></td>
            </tr>
          <% end %> 
        </tbody>
        <tbody>
          <tr>
            <th></th>
            <th>支出合計</th>
            <td><%= @expense_sum.to_s(:delimited, delimiter: ',') %>円</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <% if @balances.exists?(genre: 1) %>
    <%= line_chart @expenses_all.group_by_month(:period).where(genre: 1).sum(:amount), xtitle: "年月", ytitle: "食費", width: "600px", height: "200px" %>
  <% else %>
  <% end %>
  
  <% if @balances.exists?(genre: 2) %>
    <%= line_chart @expenses_all.group_by_month(:period).where(genre: 2).sum(:amount), xtitle: "年月", ytitle: "住居費", width: "600px", height: "200px" %>
  <% else %>
  <% end %>
  
  <% if @balances.exists?(genre: 3) %>
    <%= line_chart @expenses_all.group_by_month(:period).where(genre: 3).sum(:amount), xtitle: "年月", ytitle: "日用品", width: "600px", height: "200px" %>
  <% else %>
  <% end %>
  
  <% if @balances.exists?(genre: 4) %>
    <%= line_chart @expenses_all.group_by_month(:period).where(genre: 4).sum(:amount), xtitle: "年月", ytitle: "水道光熱費", width: "600px", height: "200px" %>
  <% else %>
  <% end %>
  
  <% if @balances.exists?(genre: 5) %>
    <%= line_chart @expenses_all.group_by_month(:period).where(genre: 5).sum(:amount), xtitle: "年月", ytitle: "衣服", width: "600px", height: "200px" %>
  <% else %>
  <% end %>
  
  <% if @balances.exists?(genre: 6) %>
    <%= line_chart @expenses_all.group_by_month(:period).where(genre: 6).sum(:amount), xtitle: "年月", ytitle: "趣味・娯楽", width: "600px", height: "200px" %>
  <% else %>
  <% end %>
  
  <% if @balances.exists?(genre: 7) %>
    <%= line_chart @expenses_all.group_by_month(:period).where(genre: 7).sum(:amount), xtitle: "年月", ytitle: "教養・教育", width: "600px", height: "200px" %>
  <% else %>
  <% end %>
  
  <% if @balances.exists?(genre: 8) %>
    <%= line_chart @expenses_all.group_by_month(:period).where(genre: 8).sum(:amount), xtitle: "年月", ytitle: "通信費", width: "600px", height: "200px" %>
  <% else %>
  <% end %>
  
  <% if @balances.exists?(genre: 9) %>
    <%= line_chart @expenses_all.group_by_month(:period).where(genre: 9).sum(:amount), xtitle: "年月", ytitle: "健康・医療", width: "600px", height: "200px" %>
  <% else %>
  <% end %>
</div>
