    <% if @balance_new.errors.any? %>
      <%= @balance_new.errors.count %>件のエラーが発生しました
      <% @balance_new.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4">
      <h5>メニュー</h5>
      <h6>収支</h6>
      <li><%= link_to "収支一覧", balances_path %></li>
      <li><%= link_to "支出",expense_path %></li>
      <li><%= link_to "収入",income_path %></li>
      <h6>ブログ</h6>
      <li><%= link_to "ブログ一覧", search_blogs_path %></li>
      <li><%= link_to "ブログ新規投稿", new_blog_path %></li>
      <h6>データ</h6>
      <li><%= link_to "年間収支", yearbalance_path %></li>
      <li><%= link_to "年間項目割合", yeargenre_path %></li>
      <li><%= link_to "貯蓄推移", totalsaving_path %></li>
      <h6>設定</h6>
      <li><%= link_to "予算", new_budget_path %></li>
      <li><%= link_to "マイページ", mypage_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
      <% else %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <h5>収入を登録</h5>
      <div class="row">
        <%= form_with model:@balance_new, url:balances_path, local: true do |f| %>
          <%= f.hidden_field :balance, :value => 0 %>
          <div class="col-5">
            <%= f.label :period, "日付" %><%= f.date_field :period %>
            <%= f.label :amount, "金額" %><%= f.number_field :amount %>円
          </div>
          <div class="col-5">
            <%= f.label :genre, "項目" %><%= f.select :genre, [['給料', 11], ['お小遣い', 12], ['賞与', 13] ,['副業', 14] ,['投資', 15] ,['臨時収入', 16] ,['その他', 10]], { include_blank: true} %>
            <%= f.label :description, "説明" %><%= f.text_field :description %>
          </div>
          <div class="col-2">
            <%= f.submit '新規登録' %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <h5 class="text-center">収入</h5>
        <a><%= link_to "前の月",income_path(month:@month.prev_month) %></a>
        <a class="text-right"><%= link_to "次の月",income_path(month:@month.next_month) %></a>
        <table class="text-center table tbody-bordered table-hover table-sm">
          <thead class="thead-dark">
            <tr>
              <th>日付</th>
              <th>項目</th>
              <th>金額</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @incomes.each do |income| %>
              <tr>
                <td><%= income.period %></td>
                <td><%= income.genre %></td>
                <td><%= income.amount.to_s(:delimited, delimiter: ',') %>円</td>
                <td><%= link_to "詳細", balance_path(income), class:"btn btn-primary btn-sm" %></td>
                <td><%= link_to "削除", balance_path(income), method: :delete, class:"btn btn-primary btn-sm" %></td>
              </tr>
            <% end %> 
          </tbody>
          <tbody>
            <tr>
              <th></th>
              <th>収入合計</th>
              <td><%= @income_sum.to_s(:delimited, delimiter: ',') %>円</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>