<div class="container">
  <div class="row mt-5">
    <div class="offset-md-2"></div>
    <div class="border pt-3 rounded col-lg-8 round">
      <h5>今月の収支</h5>
      <table class="text-center table table-sm">
        <tr>
          <td class="text-left fs-15">収入</td>
          <td class="text-right fs-15"><%= @income_sum.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
        <tr>
          <td class="text-left fs-15">支出</td>
          <td class="text-right fs-15"><%= @expense_sum.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
        <tr>
          <td class="text-left fs-15">収支</td>
          <td class="text-right fs-15"><%= @balance_sum.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="offset-md-2"></div>
    <div class="border pt-3 rounded col-lg-8 round　text-center">
      <h5>今月の収入</h5>
      <table class="table table-sm text-center table-striped">
        <tr>
          <th>日付</th>
          <th>項目</th>
          <th>収入</th>
          <th>詳細</th>
          <th>削除</th>
        </tr>
        <% @incomes.each do |balances| %>
          <tr>
            <td><%= balances.period %></td>
            <td><%= balances.genre %></td>
            <td><%= balances.amount.to_s(:delimited, delimiter: ',') %>円</td>
            <td><%= link_to "詳細", balance_path(balances), class: "btn btn-secondary btn-sm" %></td>
            <td><%= link_to "削除", balance_path(balances), method: :delete, class: "btn btn-secondary btn-sm" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row mt-5">
    <div class="offset-md-2"></div>
    <div class="border pt-3 rounded col-lg-8 round　text-center mb-5">
      <h5>今月の支出</h5>
      <table class="table table-sm text-center table-striped">
        <tr>
          <th>日付</th>
          <th>項目</th>
          <th>支出</th>
          <th>詳細</th>
          <th>削除</th>
        </tr>
        <% @expenses.each do |balances| %>
          <tr>
            <td><%= balances.period %></td>
            <td><%= balances.genre %></td>
            <td><%= balances.amount.to_s(:delimited, delimiter: ',') %>円</td>
            <td><%= link_to "詳細", balance_path(balances), class: "btn btn-secondary btn-sm"  %></td>
            <td><%= link_to "削除", balance_path(balances), method: :delete, class: "btn btn-secondary btn-sm" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>