<div class="container">
  <div class="row">
    <div class='col-lg-1'></div>
    <div class='col-lg-4'>
      <%= form_with model:@balance_new, url:user_balances_path(current_user), local: true do |f| %>
        <table>
          <tr>
            <h3>収入</h3>
            <%= f.hidden_field :balance, :value => 0 %>
          </tr>
          <tr>
            <th><%= f.label :period, "日付" %></th>
            <td><%= f.date_select :period %></td>
          </tr>
          <tr>
            <th><%= f.label :amount, "金額" %></th>
            <td><%= f.number_field :amount %></td>
          </tr>
          <tr>
            <th><%= f.label :income_genre_id, "項目" %></th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit '新規登録' %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class='col-lg-2'></div>
    <div class='col-lg-4'>
      <%= form_with model:@balance_new, url:user_balances_path(current_user), local: true do |f| %>
        <table>
          <tr>
            <h3>支出</h3>
            <%= f.hidden_field :balance, :value => 1 %>
          </tr>
          <tr>
            <th><%= f.label :period, "日付" %></th>
            <td><%= f.date_select :period %></td>
          </tr>
          <tr>
            <th><%= f.label :amount, "金額" %></th>
            <td><%= f.number_field :amount %></td>
          </tr>
          <tr>
            <th><%= f.label :expense_genre_id, "項目" %></th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit '新規登録' %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class='col-lg-1'></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h2>収支<%= @income_sum-@expense_sum %></h2>
    </div>
    <div class="col-lg-2"></div>
  </div>
  
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <table>
        <tr>
          <h5>収入</h5>
        </tr>
        <tr>
          <th>日付</th>
          <th>項目</th>
          <th>金額</th>
          <th>詳細</th>
        </tr>
        <% @incomes.each do |income| %>
          <tr>
            <td><%= income.period %></td>
            <td></td>
            <td><%= income.amount %></td>
            <td></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <table>
        <tr>
          <h5>支出</h5>
        </tr>
        <tr>
          <th>日付</th>
          <th>項目</th>
          <th>金額</th>
          <th>詳細</th>
        </tr>
        <% @expenses.each do |expense| %>
          <tr>
            <td><%= expense.period %></td>
            <td></td>
            <td><%= expense.amount %></td>
            <td></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-1"></div>
  </div>
  
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
      <table>
        <tr>
          <th>収入合計</th>
          <td><%= @income_sum %></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <table>
        <tr>
          <th>支出合計</th>
          <td><%= @expense_sum %></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>