<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12 round">
      <h5>今月の終始</h5>
      <table class="text-center table table-sm">
        <tr>
          <td class="text-left fs-15">収入</td>
          <td class="text-right fs-15"><%= @income_sum.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
        <tr>
          <td class="text-left fs-15">支出</td>
          <td class="text-right fs-15"><%= @expense_sum.to_s(:delimited, delimiter: ',') %>円</td>
        </tr>
      </table>
    </div>
    <div>
      <table class="table table-sm text-center table-striped">
        <tr>
          <th>日付</th>
          <th>項目</th>
          <th>収入</th>
          <th>支出</th>
          <th>詳細</th>
          <th>削除</th>
        </tr>
        <% @balances.each do |balances| %>
          <tr>
            <td><%= balances.period %></td>
            <td><%= balances.genre %></td>
            <% if balances.balance = 1 %>
              <td><%= balances.amount.to_s(:delimited, delimiter: ',') %>円</td>
            <% end %>
            <% if balances.balance = 0 %>
              <td><%= balances.amount.to_s(:delimited, delimiter: ',') %>円</td>
            <% end %>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>