<div class="container">
  <div class="row mt-5">
    <div class="col-lg-4">
      <h5>メニュー</h5>
      <h6>収支</h6>
      <li><%= link_to "収支一覧", balances_path %></li>
      <li><%= link_to "支出",expense_path %></li>
      <li><%= link_to "収入",income_path %></li>
      <h6>ブログ</h6>
      <li><%= link_to "ブログ一覧", search_blogs_path %></li>
      <li><%= link_to "ブログ新規投稿", new_blog_path %></li>
      <h6>データ</h6>
      <li><%= link_to "年間収支", yearbalance_path %></li>
      <li><%= link_to "年間項目割合", yeargenre_path %></li>
      <li><%= link_to "貯蓄推移", totalsaving_path %></li>
      <h6>設定</h6>
      <li><%= link_to "予算", new_budget_path %></li>
      <li><%= link_to "マイページ", mypage_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
      <% else %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <%= @balance.balance %>の詳細
      <%= form_with model:@balance, url:balance_path, local:true do |f| %>
        <!--<div class="field">-->
        <!--  <%# @balance.period %> → <%# f.date_field :period %>-->
        <!--</div>-->
        <div class="field">
          <%= @balance.amount %> → <%= f.text_field :amount %>
        </div>
        <div class="field">
          <%= @balance.genre %>
        </div>
        <div class="field">
          <%= @balance.description %> → <%= f.text_field :description %>
        </div>
        <div class="action">
          <%= f.submit '保存' %>
        </div>
      <% end %>
      <%= link_to "削除", balance_path(@balance), method: :delete, class:"btn btn-primary btn-sm" %>
    </div>
  </div>
</div>