<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h4><%= @balance.balance %>詳細</h4>
      <%= link_to "削除", balance_path(@balance), method: :delete, class:"btn btn-primary btn-sm float-right" %>
      <%= link_to "一覧へ戻る", balances_path, class: "btn btn-secondary btn-sm float-right ml-1" %>
      <%= form_with model:@balance, url:balance_path, local: true do |f| %>
        <%# @balance.period %>　
        <div class="field">
          <%= @balance.amount %> >>  <%= f.number_field :amount %>
        </div>
        <div class="field">
          <%= @balance.description %> >>  <%= f.text_field :description %>
        </div>
        <div class="action">
          <%= f.submit '編集する' %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>