<div class="container">
  <div class"row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <%= @balance.balance %>の詳細
      <%= form_with model:@balance, url:balance_path, local:true do |f| %>
        <!--<div class="field">-->
        <!--  <%# @balance.period %> → <%# f.date_field :period %>-->
        <!--</div>-->
        <div class="field">
          <%= @balance.amount %> → <%= f.text_field :amount %>
        </div>
        <div class="field">
          <%= @balance.genre %>
        </div>
        <div class="field">
          <%= @balance.description %> → <%= f.text_field :description %>
        </div>
        <div class="action">
          <%= f.submit '保存' %>
        </div>
      <% end %>
      <%= link_to "削除", balance_path(@balance), method: :delete, class:"btn btn-primary btn-sm" %>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>