<% if user_signed_in? %>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-6"><%= pie_chart @expenses.group(:genre).sum(:amount) %></div>
                        <div class="col-6"><%= pie_chart @incomes.group(:genre).sum(:amount) %></div>
                        <div class="col-12">
                            <h1 class="text-center"><%= @month %></h1>
                            <h3 class="text-center">収支 <%= @balance.to_s(:delimited, delimiter: ',') %>円</h3>
                            <h4 class="text-center pt-1">支出 <%= @expense_sum.to_s(:delimited, delimiter: ',') %>円        収入 <%= @income_sum.to_s(:delimited, delimiter: ',') %>円</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-primary">
                <div class="col-lg-6 mt-3"></div>
                <div class="col-lg-6 pt-5 mt-3">
                    <% @budget.each do |budget| %>
                        <li>食費　<%= budget.food - @food %></li>
                        <li>住居費　<%= budget.house - @house %></li>
                        <li>日用品　<%= budget.daily - @daily %></li>
                        <li>水道光熱費　<%= budget.utility - @utility %></li>
                        <li>衣類　<%= budget.cloth - @cloth %></li>
                        <li>趣味・娯楽　<%= budget.hobby - @hobby %></li>
                        <li>教育・教養　<%= budget.liberal_art - @liberal_art %></li>
                        <li>通信費　<%= budget.communicate - @communicate %></li>
                        <li>健康・医療　<%= budget.medical - @medical %></li>
                        <li>その他　<%= budget.other - @other %></li>
                    <% end %>
                </div>
            </div>
            <div class="carousel-item bg-primary">
            
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<% else %>
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h3 class="text-center">登録がまだの方<%= link_to "新規登録", new_user_registration_path %></br></h3>
                <h3 class="text-center">登録済みの方<%= link_to "ログイン", new_user_session_path %></h3>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
<% end %>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-3">
            <h5>メニュー</h5>
            <h6>収支</h6>
            <li><%= link_to "収支一覧", balances_path %></li>
            <li><%= link_to "支出",expense_path %></li>
            <li><%= link_to "収入",income_path %></li>
            <h6>ブログ</h6>
            <li><%= link_to "ブログ一覧", search_blogs_path %></li>
            <li><%= link_to "ブログ新規投稿", new_blog_path %></li>
            <h6>診断</h6>
            <li>FP診断</li>
            <h6>データ</h6>
            <li><%= link_to "年間収支", yearbalance_path %></li>
            <li><%= link_to "年間項目割合", yeargenre_path %></li>
            <li><%= link_to "貯蓄推移", totalsaving_path %></li>
            <li><%= link_to "キャッシュフロー表", cashflow_path %></li>
            <h6>設定</h6>
            <li>固定費</li>
            <li><%= link_to "予算", new_budget_path %></li>
            <li><%= link_to "マイページ", mypage_path %></li>
            <% if user_signed_in? %>
                <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
            <% else %>
            <% end %>
        </div>
        <div class="col-lg-9">
            <h5>新着ブログ</h5>
            <table class="table table-sm text-center table-striped table-hover mt-3 mb-3">
                <thead>
                    <tr>
                        <th style="width: 20%">タイトル</th>
                        <th style="width: 5%"></th>
                        <th style="width: 15%">投稿者</th>
                        <th style="width: 15%">作成日</th>
                        <th style="width: 45%">本文</th>
                    </tr>
                </thead>
                <% @new_blog.first(8).each do |blog| %>
                    <tbody>
                        <tr>
                            <td>
                                <%= link_to blog_path(blog.id) do %>
                                    <%= blog.title.truncate(10) %>
                                <% end %>
                            </td>
                            <td><%= attachment_image_tag blog.user, :image, size: "35x28", format: 'png', fallback: "no_image.jpg" %></td>
                            <td>
                                <%= link_to user_path(blog.user_id) do %>
                                    <%= blog.user.name.truncate(7) %>
                                <% end %>
                            </td>
                            <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
                            <td><%= blog.content.truncate(20) %></td>
                        </tr>
                    </tbody>
                <% end %>
            </table>
            <h5>人気のブログ</h5>
            <table class="table table-sm text-center table-striped table-hover mt-3 mb-3">
                <thead>
                    <tr>
                        <th style="width: 20%">タイトル</th>
                        <th style="width: 5%"></th>
                        <th style="width: 15%">投稿者</th>
                        <th style="width: 15%">作成日</th>
                        <th style="width: 45%">本文</th>
                    </tr>
                </thead>
                <% @blog_ranks.first(8).each do |blog| %>
                    <tbody>
                        <tr>
                            <td>
                                <%= link_to blog_path(blog.id) do %>
                                    <%= blog.title.truncate(10) %>
                                <% end %>
                            </td>
                            <td><%= attachment_image_tag blog.user, :image, size: "42x28", format: 'png', fallback: "no_image.jpg" %></td>
                            <td><%= link_to "#{blog.user.name}", user_path(blog.user_id).truncate(7) %></td>
                            <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
                            <td><%= blog.content.truncate(20) %></td>
                        </tr>
                    </tbody>
                <% end %>
            </table>
            <p class="text-lg-right"><%= link_to "もっと見る", search_blogs_path %></p>
        </div>
    </div>
</div>