<% if user_signed_in? %>
<div class="container">
    <div class="row mt-3 p-3 border mb-3">
        <div class="col-6"><%= pie_chart @expenses.group(:genre).sum(:amount) %></div>
        <div class="col-6"><%= pie_chart @incomes.group(:genre).sum(:amount) %></div>
        <div class="col-12">
            <h1 class="text-center"><%= @month %></h1>
            <h3 class="text-center">収支 <%= @balance.to_s(:delimited, delimiter: ',') %>円</h3>
            <h4 class="text-center pt-1">支出 <%= @expense_sum.to_s(:delimited, delimiter: ',') %>円        収入 <%= @income_sum.to_s(:delimited, delimiter: ',') %>円</h3>
        </div>
    </div>
    <% if @budget.present? %>
        <div class="row border mt-3">
            <div class="col-lg-6">
                <div class="border-bottom">
                    <%= "残り#{@bfood.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @foodper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @foodper.to_s + "%;" %>> <%= @foodper.floor %>% </div>
                    </div>
                    <%= "食費#{@food.to_s(:delimited)}円" %> <%= "予算#{@budget.food.to_s(:delimited)}円" %>
                </div>
                <div class="border-bottom">
                    <%= "残り#{@bhouse.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @houseper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @houseper.to_s + "%;" %>> <%= @houseper.floor %>% </div>
                    </div>
                    <%= "住居費#{@house.to_s(:delimited)}円" %> <%= "予算#{@budget.house.to_s(:delimited)}円" %>
                </div>
                <div class="border-bottom">
                    <%= "残り#{@bdaily.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @dailyper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @dailyper.to_s + "%;" %>> <%= @dailyper.floor %>% </div>
                    </div>
                    <%= "日用品#{@daily.to_s(:delimited)}円" %> <%= "予算#{@budget.daily.to_s(:delimited)}円" %>
                </div>
                <div class="border-bottom">
                    <%= "残り#{@butility.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @utilityper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @utilityper.to_s + "%;" %>> <%= @utilityper.floor %>% </div>
                    </div>
                    <%= "水道光熱費#{@utility.to_s(:delimited)}円" %> <%= "予算#{@budget.utility.to_s(:delimited)}円" %>
                </div>
                <div>
                    <%= "残り#{@bcloth.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @clothper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @clothper.to_s + "%;" %>> <%= @clothper.floor %>% </div>
                    </div>
                    <%= "衣類#{@cloth.to_s(:delimited)}円" %> <%= "予算#{@budget.cloth.to_s(:delimited)}円" %>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="border-bottom">
                    <%= "残り#{@bhobby.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @hobbyper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @hobbyper.to_s + "%;" %>> <%= @hobbyper.floor %>% </div>
                    </div>
                    <%= "趣味・娯楽#{@hobby.to_s(:delimited)}円" %> <%= "予算#{@budget.hobby.to_s(:delimited)}円" %>
                </div>
                <div class="border-bottom">
                    <%= "残り#{@bliberal_art.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @liberal_artper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @liberal_artper.to_s + "%;" %>> <%= @liberal_artper.floor %>% </div>
                    </div>
                    <%= "教育・教養#{@liberal_art.to_s(:delimited)}円" %> <%= "予算#{@budget.liberal_art.to_s(:delimited)}円" %>
                </div>
                <div class="border-bottom">
                    <%= "残り#{@bcommunicate.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @communicateper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @communicateper.to_s + "%;" %>> <%= @communicateper.floor %>% </div>
                    </div>
                    <%= "通信費#{@communicate.to_s(:delimited)}円" %> <%= "予算#{@budget.communicate.to_s(:delimited)}円" %>
                </div>
                <div class="border-bottom">
                    <%= "残り#{@bmedical.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @medicalper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @medicalper.to_s + "%;" %>> <%= @medicalper.floor %>% </div>
                    </div>
                    <%= "健康・医療#{@medical.to_s(:delimited)}円" %> <%= "予算#{@budget.medical.to_s(:delimited)}円" %>
                </div>
                <div>
                    <%= "残り#{@bother.to_s(:delimited)}円" %>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%= @otherper.to_i %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style=<%= "width:" + @otherper.to_s + "%;" %>> <%= @otherper.floor %>% </div>
                    </div>
                    <%= "その他#{@other.to_s(:delimited)}円" %> <%= "予算#{@budget.other.to_s(:delimited)}円" %>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h3 class="text-center">登録がまだの方<%= link_to "新規登録", new_user_registration_path %></br></h3>
            <h3 class="text-center">登録済みの方<%= link_to "ログイン", new_user_session_path %></h3>
        </div>
        <div class="col-lg-4"></div>
    </div>
<% end %>

    <div class="row mt-3 mb-5">
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center">
                    <%= image_tag 'kakei.jpg', size: '300x200' %>
                </div>
                <h5 class="border-bottom"><%= link_to "家計簿", balances_path %></h5>
                <p>収支を記録することができます。収支を記録することで家計の改善を目指しましょう。</p>
                <p><%= link_to "収支登録はこちら",register_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center">
                    <%= image_tag 'kakei.jpg', size: '300x200' %>
                </div>
                <h5 class="border-bottom"><%= link_to "予算", budgets_path %></h5>
                <p>月間の予算を設定することができます。</p>
                <p><%= link_to "予算設定はこちら",new_budget_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center">
                    <%= image_tag '1.jpg', size: '300x200' %>
                </div>
                <h5 class="border-bottom"><%= link_to "ブログ一覧", search_blogs_path %></h5>
                <p>お金に関するブログを投稿、閲覧することができます。他の人の考えや経験を参考にして、家計の改善を目指しましょう。</p>
                <p><%= link_to "投稿はこちら", new_blog_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center">
                    <%= image_tag 'kakei.jpg', size: '300x200' %>
                </div>
                <h5 class="border-bottom">他の人の家計簿</h5>
                <p>他の人の家計簿を閲覧することができます。参考にして自身の会計改善を目指しましょう。</p>
                <p>今後予定</p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center">
                    <%= image_tag 'simulation.jpg', size: '300x200' %>
                </div>
                <h5 class="border-bottom">家計シミュレーション</h5>
                <p>今後更新予定</p>
                <p></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
           <content>
                <div style="text-align: center">
                   <%= image_tag 'data.jpg', size: '300x200' %>
                </div>
                <h5 class="border-bottom">家計データ<%# link_to "家計データ", report_path %></h5>
                <p>今後更新予定</p>
                <p>自身の家計簿のグラフで表示します。分析して家計の改善に努めましょう。</p>
                <p><%# link_to "家計データ", report_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center"></div>
                <%= image_tag 'mypage.jpg', size: '300x200' %>
                <h5 class="border-bottom"><%= link_to "マイページ", mypage_path %></h5>
                <p>自身の情報を設定できます。</p>
                <p><%= link_to "マイページはこちら", mypage_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
    </div>
</div>
