<div class="container">
    <div class="row"></div>
    <div class="row">
        <% if user_signed_in? %>
            <div class="col-lg-4 mt-3"><%= pie_chart @expenses.group(:genre).sum(:amount) %></div>
            <div class="col-lg-4 pt-5 mt-3">
                <h1 class="text-center"><%= @month %></h1>
                <h3 class="text-center">収支 <%= @balance.to_s(:delimited, delimiter: ',') %>円</h3>
                <h4 class="text-center pt-1">支出 <%= @expense_sum.to_s(:delimited, delimiter: ',') %>円        収入 <%= @income_sum.to_s(:delimited, delimiter: ',') %>円</h3>
            </div>
            <div class="col-lg-4 mt-3"><%= pie_chart @incomes.group(:genre).sum(:amount) %></div>
        <% else %>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h3 class="text-center">登録がまだの方<%= link_to "新規登録", new_user_registration_path %></br></h3>
                <h3 class="text-center">登録済みの方<%= link_to "ログイン", new_user_session_path %></h3>
            </div>
            <div class="col-lg-4"></div>
        <% end %>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-3">
            <h5>メニュー</h5>
            <h6>収支</h6>
            <li><%= link_to "収支一覧", balances_path %></li>
            <li><%= link_to "支出",expense_path %></li>
            <li><%= link_to "収入",income_path %></li>
            <h6>ブログ</h6>
            <li><%= link_to "ブログ一覧", search_blogs_path %></li>
            <li><%= link_to "ブログ新規投稿", new_blog_path %></li>
            <h6>データ</h6>
            <li><%= link_to "年間収支", yearbalance_path %></li>
            <li><%= link_to "年間項目割合", yeargenre_path %></li>
            <li><%= link_to "貯蓄推移", totalsaving_path %></li>
            <h6>設定</h6>
            <li><%= link_to "マイページ", mypage_path %></li>
            <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
        </div>
        <div class="col-lg-7">
            <h5>新着ブログ</h5>
            <table class="table table-sm text-center table-striped table-hover mt-3 mb-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>タイトル</th>
                        <th></th>
                        <th>投稿者</th>
                        <th>作成日</th>
                    </tr>
                </thead>
                <% @new_blog.first(8).each do |blog| %>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <%= link_to blog_path(blog.id) do %>
                                    <%= blog.title %>
                                <% end %>
                            </td>
                            <td><%= attachment_image_tag blog.user, :image, size: "42x28", format: 'png', fallback: "no_image.jpg" %></td>
                            <td><%= link_to "#{blog.user.name}", user_path(blog.user_id) %></td>
                            <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
                            <td><%= blog.content.truncate(10) %></td>
                        </tr>
                    </tbody>
                <% end %>
            </table>
            <h5>人気のブログ</h5>
            <table class="table table-sm text-center table-striped table-hover mt-3 mb-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>タイトル</th>
                        <th></th>
                        <th>投稿者</th>
                        <th>作成日</th>
                    </tr>
                </thead>
                <% @blog_ranks.first(8).each do |blog| %>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <%= link_to blog_path(blog.id) do %>
                                    <%= blog.title %>
                                <% end %>
                            </td>
                            <td><%= attachment_image_tag blog.user, :image, size: "42x28", format: 'png', fallback: "no_image.jpg" %></td>
                            <td><%= link_to "#{blog.user.name}", user_path(blog.user_id) %></td>
                            <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
                            <td><%= blog.content.truncate(10) %></td>
                        </tr>
                    </tbody>
                <% end %>
            </table>
        </div>
        <div class="col-lg-2"><p><%= link_to "もっと見る", search_blogs_path %></p></div>
    </div>
</div>