<% if user_signed_in? %>
<div class="container">
    <div class="row mt-3">
        <div class="col-6"><%= pie_chart @expenses.group(:genre).sum(:amount) %></div>
        <div class="col-6"><%= pie_chart @incomes.group(:genre).sum(:amount) %></div>
        <div class="col-12">
            <h1 class="text-center"><%= @month %></h1>
            <h3 class="text-center">収支 <%= @balance.to_s(:delimited, delimiter: ',') %>円</h3>
            <h4 class="text-center pt-1">支出 <%= @expense_sum.to_s(:delimited, delimiter: ',') %>円        収入 <%= @income_sum.to_s(:delimited, delimiter: ',') %>円</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <%= "食費#{@bfood.to_s(:delimited)}円" %>
        </div>
    </div>
</div>
<% else %>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h3 class="text-center">登録がまだの方<%= link_to "新規登録", new_user_registration_path %></br></h3>
            <h3 class="text-center">登録済みの方<%= link_to "ログイン", new_user_session_path %></h3>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
<% end %>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center">
                    <%= image_tag 'kakei.jpg', size: '300x200' %>
                </div>
                <h4><%= link_to "家計簿", balances_path %></h4>
                <p><%= link_to "収支登録はこちら",register_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center">
                    <%= image_tag 'kakei.jpg', size: '300x200' %>
                </div>
                <h4><%= link_to "予算", budgets_path %></h4>
                <p><%= link_to "予算設定はこちら",budgets_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center">
                    <%= image_tag '1.jpg', size: '300x200' %>
                </div>
                <h4><%= link_to "ブログ一覧", search_blogs_path %></h4>
                <p></p>
                <p></p>
                <p><%= link_to "投稿はこちら", new_blog_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center">
                    <%= image_tag 'simulation.jpg', size: '300x200' %>
                </div>
                <h4>家計シミュレーション</h4>
                <p>今後更新予定</p>
                <p></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
           <content>
                <div style="text-align: center">
                   <%= image_tag 'data.jpg', size: '300x200' %>
                </div>
                <h4><%= link_to "家計データ", report_path %></h4>
                <p></p>
                <p><%= link_to "家計データ", report_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 p-3 rounded">
            <content>
                <div style="text-align: center"></div>
                <%= image_tag 'mypage.jpg', size: '300x200' %>
                <h4><%= link_to "マイページ", mypage_path %></h4>
                <p></p>
                <p><%= link_to "マイページはこちら", mypage_path, class: "btn btn-secondary btn-sm btn-block" %></p>
            </content>
        </div>
    </div>
</div>
