<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4, mt-3 mb-3">
            <% if user_signed_in? && Goal.exists? %>
                <h4 class="text-center">目標金額　<%= @last_goal.goal_amount.to_s(:delimited, delimiter: ',') %>円</h4>
                <h4 class="text-center">現在の貯金額　<%= @savings.to_s(:delimited, delimiter: ',') %>円</h4>
                <h4 class="text-center">目標達成まで残り　<%= @to_goal.to_s(:delimited, delimiter: ',') %>円</h4>
                <h4 class="text-center">目標達成期限まで残り<%# @days_left %>日</h4>
                <h6  class="text-center">目標を変更するには<%= link_to "こちら", edit_goal_path(@last_goal) %></h6>
            <% elsif user_signed_in? %>
                <h3 class="text-center">現在の貯金額　<%= @savings.to_s(:delimited, delimiter: ',') %>円</h3>
                <h3 class="text-center">収入金額 <%= @incomes.to_s(:delimited, delimiter: ',') %>円</h3>
                <h3 class="text-center">支出金額 <%= @expenses.to_s(:delimited, delimiter: ',') %>円</h3>
                <h4 class="text-center">目標は設定されていません。</h4>
                <h6 class="text-center">設定する場合は<%= link_to "こちら", new_goal_path %></h6>
            <% else %>
                <h3 class="text-center">登録がまだの方<%= link_to "新規登録", new_user_registration_path %></br></h3>
                <h3 class="text-center">登録済みの方<%= link_to "ログイン", new_user_session_path %></h3>
            <% end %>
        </div>
        <div class="col-lg-4"></div>
    </div>
    
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h5>新着ブログ</h5>
            <table class="table table-sm text-center table-striped table-hover mt-3 mb-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>タイトル</th>
                        <th></th>
                        <th>投稿者</th>
                        <th>作成日</th>
                    </tr>
                </thead>
                <% @new_blog.first(8).each do |blog| %>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <%= link_to blog_path(blog.id) do %>
                                    <%= blog.title %>
                                <% end %>
                            </td>
                            <td><%= attachment_image_tag blog.user, :image, size: "42x28", format: 'png', fallback: "no_image.jpg" %></td>
                            <td><%= link_to "#{blog.user.name}", user_path(blog.user_id) %></td>
                            <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
                        </tr>
                        <tr>
                            <td><%= blog.content %></td>
                        </tr>
                    </tbody>
                <% end %>
            </table>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h5>人気のブログ</h5>
            <table class="table table-sm text-center table-striped table-hover mt-3 mb-3">
                <thead>
                    <tr>
                        <th></th>
                        <th>タイトル</th>
                        <th></th>
                        <th>投稿者</th>
                        <th>作成日</th>
                    </tr>
                </thead>
                <% @blog_ranks.first(8).each do |blog| %>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <%= link_to blog_path(blog.id) do %>
                                    <%= blog.title %>
                                <% end %>
                            </td>
                            <td><%= attachment_image_tag blog.user, :image, size: "42x28", format: 'png', fallback: "no_image.jpg" %></td>
                            <td><%= link_to "#{blog.user.name}", user_path(blog.user_id) %></td>
                            <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
                        </tr>
                    </tbody>
                <% end %>
            </table>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>