<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h2 class="text-center">目標の変更</h2>
      <%= form_with model:@last_goal, url:goal_path, method: :patch,local:true do |f| %>
        <div class="field" class="form-group">
          <%= f.label :goal_amount, "目標金額", class: "control-label" %>:
          <%= f.number_field :goal_amount, {style: "display: inline-block;"} %>円
        </div>
        <div class="field" class="form-group">
          <%= f.label :goal_limit, "目標期限", class: "control-label" %>:
          <%= f.date_select :goal_limit, {style: "display: inline-block;"} %>
        </div>
        <div class="actions">
          <%= f.submit '保存', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>