<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-lg-4 border mt-1 pr-1 rounded">
            <content>
                <%= image_tag 'mypage.jpg', size: '300x200' %>
                <h4>年間収支</h4>
                <p></p>
                <p></p>
                <li><%= link_to "年間収支", yearbalance_path %></li>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 pr-1 rounded">
            <content>
                <%= image_tag 'mypage.jpg', size: '300x200' %>
                <h4>年間項目割合</h4>
                <p></p>
                <p></p>
                <li><%= link_to "年間項目割合", yeargenre_path %></li>
            </content>
        </div>
        <div class="col-lg-4 border mt-1 pr-1 rounded">
            <content>
                <%= image_tag 'mypage.jpg', size: '300x200' %>
                <h4>貯蓄推移</h4>
                <p></p>
                <p></p>
                <li><%= link_to "貯蓄推移", totalsaving_path %></li>
            </content>
        </div>
         <div class="col-lg-4 border mt-1 pr-1 rounded">
            <content>
                <%= image_tag 'mypage.jpg', size: '300x200' %>
                <h4></h4>
                <p></p>
                <p></p>
                <li></li>
            </content>
        </div>
    </div>
</div>