<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3">
      <h5>メニュー</h5>
      <h6>収支</h6>
      <li><%= link_to "収支一覧", balances_path %></li>
      <li><%= link_to "支出",expense_path %></li>
      <li><%= link_to "収入",income_path %></li>
      <h6>ブログ</h6>
      <li><%= link_to "ブログ一覧", search_blogs_path %></li>
      <li><%= link_to "ブログ新規投稿", new_blog_path %></li>
      <h6>データ</h6>
      <li><%= link_to "年間収支", yearbalance_path %></li>
      <li><%= link_to "年間項目割合", yeargenre_path %></li>
      <li><%= link_to "貯蓄推移", totalsaving_path %></li>
      <h6>設定</h6>
      <li><%= link_to "予算", new_budget_path %></li>
      <li><%= link_to "マイページ", mypage_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "ユーザー情報編集", edit_user_path(current_user) %></li>
      <% else %>
      <% end %>
    </div>
    <div class="col-lg-9">
      <h3>年間収支推移</h3>
      <%= line_chart @balances.group_by_month(:period).sum(:amount), xtitle: "年月", ytitle: "収支", width: "600px", height: "200px" %>
    </div>
  </div>
</div>
